/* Controls map layer */
body {
  padding: 0;
  margin: 0;
}

/* Controls map layer */
#mapid, body, html {
  height: 100%;
}

/* Controls the legend */
.info.legend {
  background: #f4f4f4;
  padding: 0 10px 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 2px solid rgba(0,0,0,0.2);
}

/* Controls the colored rectangles in the legend */
i {
  padding: 4px 0 0 50px;
  margin: 0 10px 0 0;
  border: 2px solid;
}